body {
  text-align: center;
  background-color: #282c34;
}


/* task entry */

.task-entry-block {
  height: 10vh;
  padding: .5em;
  width: 98vw;
  display: table;

  div {
    display: table-row;
  }
}

.task-title-input {
  width: 60vw;
  padding: .5em;
  margin: 1em;
}

.task-add-button {
  padding: .5em;
  font-weight: 700;
}

.task-select {
  width: 10vw;
  padding: .5em;
  margin: .25em;
}

.task-select-first-choice {
  color: grey;
}


/* task summary card block */

.task-summary-card-block {
  width: 98vw;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* task summary card */

.task-summary-card {
  width: 30vw;
  color: #cfcfcf;
  padding: 2em;
  margin: 2em;
  border-style: solid;
  border-color: #cfcfcf;
  border-radius: 10px;
}

.task-summary-card-title {
  text-align: left;
}