body {
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
}


/* task entry */

.task-entry-block {
  padding: .5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.task-title-input {
  width: 60vw;
  padding: .5em;
  margin: 1em;
}

.task-title-input.error {
  outline: 1px solid #dba11c;
}

.task-add-button {
  padding: .5em;
  margin: 1em 0em;
  font-weight: 700;
}

.task-select {
  min-width: 15vw;
  padding: .5em;
  margin: .25em;
}

.task-select.error {
  outline: 1px solid #dba11c;
}

.error-text {
  color: #dba11c;
  font-size: 0.75em;
  margin: 0.25em 0.25em 0.5em 0.25em;
  display: block;
  width: 100vw;
}


/* task summary card block */

.task-summary-card-block {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* task summary card */

.task-summary-card {
  width: 30vw;
  color: #cfcfcf;
  padding: 2em;
  margin: 2em;
  border-style: solid;
  border-color: #cfcfcf;
  border-radius: 10px;
}

.task-summary-card-title {
  text-align: left;
}